<ng-template [ngIf]="(arrangements$ |async).length === 0">
  No arrangments found
</ng-template>
<ng-template [ngIf]="(arrangements$ |async).length > 0">
  <mat-accordion *ngFor="let arrangement of arrangements$ | async">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{arrangement.name}}
      </mat-panel-title>
      <mat-panel-description>
        Rating: {{arrangement.rating}}
      </mat-panel-description>
    </mat-expansion-panel-header>

      <table mat-table [dataSource]="arrangement.ratings" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> rating </th>
          <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
  </mat-expansion-panel>
</mat-accordion>
</ng-template>