<div [formGroup]="formGroup">
  <mat-form-field>
    <input matInput formControlName="title">
  </mat-form-field>

  <label id="example-radio-group-label">Pick the question type</label>
  <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="type">
    <mat-radio-button *ngFor="let type of types" [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>

  <div [ngSwitch]="typeControl.value">
    <input *ngSwitchCase="'yesno'" [formControlName]="key" [id]="key">

  </div>
</div>