<mat-card>
  <mat-card-content>
    <!--<form [formGroup]="formGroup" connect="encloseSelection">-->
    <form [formGroup]="formGroup" class="container" (submit)="registerReview()">
      <div class="row">
        <app-country-input formControlName="country" class="full-width"></app-country-input>
      </div>
      <div class="row">
        <app-state-input formControlName="state" class="state-width" [countryCode$]="countryCode$"></app-state-input>
        &nbsp;
        <app-city-input formControlName="city" class="city-width" [state$]="state$"></app-city-input>
      </div>
      <div class="row">
        <app-street-input formControlName="street" class="full-width" [city$]="city$"></app-street-input>
      </div>

      <div class="row">
        <button mat-raised-button type="submit" color="primary">Create Review</button>
        <button mat-raised-button type="button" (click)="displayReviews()">Search Reviews</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>