<mat-card>
  <mat-card-content>
    <!--<form [formGroup]="formGroup" connect="encloseSelection">-->
    <form [formGroup]="formGroup" class="container" (submit)="registerReview()">
      <div class="row">
        <app-country-input formControlName="country" class="full-width"></app-country-input>
      </div>
      <div class="row">
        <app-state-input formControlName="state" class="state-width" [countryCode$]="countryCode$"></app-state-input>
        &nbsp;
        <app-city-input formControlName="city" class="city-width" [state$]="state$">
        </app-city-input>
      </div>
      <div class="row">
        <app-street-input formControlName="street" class="city-width" [city$]="city$"></app-street-input>
        &nbsp;
        <mat-form-field class="state-width">
          <input matInput placeholder="Street-Number" aria-label="Street-Number" [formControl]="streetNumber">
        </mat-form-field>
      </div>

      <div class="row">
        <a mat-raised-button type="button" [routerLink]="'/arrangement/' + (filter$ | async)">Create Review
        </a>
        <a mat-raised-button type="button" [routerLink]="'/rating/' + (filter$ | async)"
          [state]="{ data: filter$ | async }" [matBadge]="ratingCount$ | async" matBadgePosition="after"
          matBadgeColor="accent" [matBadgeHidden]="(ratingCount$ | async) === 0">View ratings
        </a>
      </div>
      {{enclosures$ | async | json}}
      <div *ngFor="let enclosure of enclosures$ | async">
        {{enclosure | json}}
      </div>
    </form>
  </mat-card-content>
</mat-card>